.content .quiz-content {
    font-size: 5rem;
}

.content .answer-content {
    font-size: 8rem;
    line-height: 1;
}

.answer-content input {
    display: block;
    font-size: 2rem;
    background-color: cadetblue;
    border-bottom: 2rem black;
    outline: none;
}