.content .quiz-content {
    font-size: 5rem;
}

.content .answer-content {
    font-size: 8rem;
    line-height: 1;
}

.answer-content input {
    display: block;
    width: 6rem;
    font-size: 2rem;
    background-color: transparent;
    border-bottom: 2rem black;
    outline: none;
    text-align: center;
}