.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 60%;
    position: absolute;
    right: 0;
    padding: 40vh 0;
}

 .content .quiz-content {
    font-size: 5rem;
    width: auto;
}

.content .answer-content {
    /* font-size: 8rem; */
    line-height: 1;
}

.answer-content input {
    /* display: block; */
    font-size: 2rem;
    background-color: cadetblue;
    border-bottom: 1rem black;
    outline: none;
}