* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.menu-hamburger {
    position: fixed;
    top: 20px; left: 30px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
}

/* @media (max-width: 767px) {

    .menu-hamburger {
    position: fixed;
    top: 20px; left: 30px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    }
} */

.container {
    display: flex;
    align-items: center;
    padding-bottom: 80px;
    background: linear-gradient(90deg, #fff 60%, #eee 40.1);
    position: absolute;
    min-height: 100vh;
    padding: 0 10%;
}

.container .side-bar {
    width: 400px;
}

.container .side-bar .list {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.container .side-bar .list li {
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    list-style: none;
}

.container .side-bar .list li::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
    width: 0%;
    height: 3px;
    transition: width .2s linear .2s;
    background-color: #000;
}

.container .side-bar .list li.active, 
.container .side-bar .list li:hover {
    font-size: 30px;
}

.container .side-bar .list li.active::before, 
.container .side-bar .list li:hover::before {
    right: -5px;
    width: 105%;
}

/*
.container .jp-container {
    flex: 1;
    width: 100%;
    object-fit: cover;
}
*/

.container-hide {
    display: none;
    width: 100%;
}


/* .show-menu{
    width: 376px;
    height: 500px;
    position: absolute;
    left: 0px;
    transition: 1s;
}

.hide-menu{
    width: 376px;
    height: 500px;
    position: absolute;
    left: -376px;
    transition: 1s;
} */